<%- include ('header') %>


<body>


<div class="app-container">
  <%- include ('app-header') %>

    <div class="app-content">
      <%- include ('app-sidebar') %>

      
      <div class="projects-section">
        <div class="projects-section-header">
          <p>Settings</p>
          <p class="time"><%= date %></p>
        </div>

        <% if (active_page === 'generating') { %> 

        <%- include ('generate') %>
        <% } %>
    
        <% if (active_page === 'alerting') { %> 

          <%- include ('app-alerting') %>
        <% } %>
        <% if (active_page === 'alerting-add') { %> 

          <%- include ('app-alerting-add') %>
        <% } %>
  </div>


  <%- include ('app-log') %>

  </div>
  </div>


</body>

<script src="/js/dashboard.js"></script>